.ri-grid{
	width: 600px;
}

.ri-grid ul li,
.ri-grid ul li a{
	width: 100%;
	height: 100%;
}
.ri-grid ul li a img{
	width: 100%;
}
.ri-grid ul li a {
	width: 100% !important;
	height: 100% !important;
}